<nav class="navbar navbar-dark bg-primary">
  <a href="/" class="navbar-brand p-2">
    Angular 5 CRUD
  </a>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <ul class="list-group"></ul>
      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title">
            Insert A new Employee
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <img src="https://imgs.search.brave.com/tBrr4-sfGfttfwsVQeXEih4MOexacsapavsALruvm8Y/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9kZXNh/cnJvbGxvd2ViLmNv/bS9zdG9yYWdlL3Rh/Z19pbWFnZXMvYWN0/dWFsL1ViVzlRb1hU/d3ZvbFNJelJnZWdO/M01tWFpvb0ViSE9u/ajJDMjZwckUucG5n"
   alt="angulars">
    </div>
  </div>
</div>
